.navbar-default {
    background-color: #191d3d;
    border-color: #000000;
    font-size: 15px;
    font-family: Verdana;
    font-color: #ece5e5;

 }
.navbar1 {
  padding-left: 30px 0px 15px;
  margin-left: 20px;
  position: relative;
}

.navbar2 {
padding-top:0px;
margin-bottom: 0px;
 }

nav ul li:hover{
  background-color:#42b8ca;

}
.active {
  background-color:#fff;
}
.box-cyan{
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: white;
    height: 100px;
    text-align: bottom;
 }
.box p{
   text-align:justify;
}

.p{
	font-size:20px;
	text-align:justify;
  font-family:Calibri (Body);
}

.p1{
  text-align:justify;
  font-size:18px;
}

.p3{
  text-align:center;
  font-size:18px;
}

.h3{
    text-align: center;
    color: green;
}
.h2{
    text-align: center;
    color: green;
}

.img{
  max-width: 100%;
  height: auto;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f451le;
  border: 0;
  padding: 6px 0;
  width: 35%;
  text-align: center;
  color:fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"] :hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;

}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

.foo {
  background: red;
}
